.tb-plain {
    overflow: auto;
    width: 100%;
}
.tb-plain table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    height: 100%;
}
.ta-c {
    text-align: center;
}
.ci-20 {
    width: 20%;
}
.ci-40 {
    width: 40%;
}
.ci-80 {
    width: 80%;
}
